* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #000;
    --body-text: 16px;
    --border-color: rgba(256, 256, 256, 0.15);
    --button-background: #fedc36;
    --button-border: #fef08a;
    --button-stroke: 2px;
    --carousel-color: rgba(256, 256, 256, 0.03);
    --description-text: 24px;
    --description-height: 30px;
    --emblem-color: #8093f1;
    --font-color: #fff;
    --head-font: 'Playfair Display', serif;;
    --header-text: 72px;
    --icon-color: #fff;
    --icon-size: 26px;
    --body-font: Roboto, sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    padding-top: 93px;
}

p, h1, ul, li, a, button {
    font-family: var(--body-font);
    text-decoration: none;
    color: var(--font-color);
}

@media screen and (min-width: 1200px) {
    body {
        width: 1200px;
    }
}

@media screen and (min-width: 1400px) {
    body {
        width: 1400px;
    }
}

@media screen and (min-width: 1900px) {
    body {
        display: flex;
        justify-content: center;
        width: 1500px;
    }
}