* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #000;
    --body-text: 16px;
    --border-color: rgba(256, 256, 256, 0.15);
    --button-background: #fedc36;
    --button-border: #fef08a;
    --button-hover: #2D936C;
    --button-stroke: 2px;
    --carousel-color: rgba(256, 256, 256, 0.07);
    --description-text: 24px;
    --description-height: 30px;
    --emblem-color: #8093f1;
    --font-color: #fff;
    --head-font: 'Playfair Display', serif;;
    --header-text: 72px;
    --icon-color: #fff;
    --icon-size: 26px;
    --body-font: Roboto, sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    padding-top: 93px;
}

p, h1, ul, li, a, button {
    font-family: var(--body-font);
    text-decoration: none;
    color: var(--font-color);
}

@media screen and (min-width: 1200px) {
    body {
        width: 1200px;
    }
}

@media screen and (min-width: 1400px) {
    body {
        width: 1400px;
    }
}

@media screen and (min-width: 1900px) {
    body {
        display: flex;
        justify-content: center;
        width: 1500px;
    }
}

/* loader */
.loader {
    display: block;
    align-self: center;
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .loader div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .loader div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .loader div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .loader div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .loader div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .loader div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .loader div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .loader div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .loader div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .loader div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .loader div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .loader div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .loader div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .loader div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .loader div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .loader div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .loader div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .loader div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }