* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1500px;
    margin: 0 auto;
    padding-top: 93px;
    padding-bottom: 139px;
}

:root {
    --body-text: 16px;
    --border-color: rgba(0, 0, 0, 0.15);
    --carousel-color: rgba(0, 0, 0, 0.03);
    --description-text: 24px;
    --description-height: 30px;
    --font-color: #000;
    --header-text: 72px;
    --icon-color: #000;
    --icon-size: 26px;
    --typeface: Roboto, sans-serif;
}

p, h1, ul, li, a, button {
    font-family: var(--typeface);
    text-decoration: none;
    color: var(--font-color);
}